<div class="container col-12 col-lg-8">
  <h2>Search results</h2>
  <%# <%= link_to "Go back", :back %>
  <% if @vtubers.empty? %>
    <p>No VTubers matched your search</p>
  <% else %>
    <% if @vtubers.length == 1 %>
      <p><span class="search-result-number">1</span> search result</p>
    <% else %>
      <p><span class="search-result-number"><%= @vtubers.length %></span> search results</p>
    <% end %>
    <div class="list-cards">
      <% @vtubers.order('LOWER(name)').each do |vtuber| %>
        <div class="vtuber-card" data-controller="zoom-in">


            <%= render "shared/vtuber_picture", vtuber: vtuber %>


          <div class="vtuber-card-body" data-action="mouseover->zoom-in#zoom_in mouseout->zoom-in#zoom_out">
            <p><%= vtuber.name %></p>
            <%= link_to vtuber_path(vtuber) do %>
              <div class="click-box">
              </div>
            <% end %>
            <div class="vtuber-card-footer">
              <% if vtuber.has_yt_channel? %>
                <%= link_to vtuber.yt_channel, target: :blank do %>
                  <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
                <% end %>
              <% end %>
              <% if vtuber.has_twitch_channel? %>
                <%= link_to vtuber.twitch_channel, target: :blank do %>
                  <i class="fa-brands fa-twitch" style="color: #7d52ff;"></i>
                <% end %>
              <% end %>
            </div>
          </div>


        </div>
      <% end %>
    </div>
  <% end %>
<div>
