<div class="container col-6">
  <% if !(user_signed_in? && current_user.role == "admin") %>
    <%= render "shared/unauthorized" %>
  <% else %>
  <h2>Make Agency Entry</h2>
    <%= simple_form_for(@agency) do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <%= f.input :location, label: "Country" %>
      <%= f.input :website %>
      <%= f.input :yt_channel, label: "YouTube Channel" %>
      <%= f.input :active, as: :boolean %>

      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="form-actions">
        <%= f.button :submit, class:"btn-create" %>
      </div>
    <% end %>
  <% end %>
</div>
